@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="display-4 text-danger">Error.</h1>
<h2 class="display-5 text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p class="text-secondary lead">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}