@{
    ViewData["Title"] = "Employee Information";
}

<h2 class="display-5 mt-3 mb-5">@ViewData["Title"]</h2>

<div id="loading">
    <p class="text-secondary lead">Loading table</p>
</div>

<div id="table"></div>

<script src="~/js/loadEmployeeDataIntoTablePartial.js"></script>