@{
    ViewData["Title"] = "Dashboard Page";
}

<div class="container">
    <h1 class="display-4 mb-4">This is a dashboard placeholder</h1>

    <p class="lead mb-5">Usually it would be filled with appropriate data, but at the moment it serves as an
        introduction to the project</p>

    <p class="mb-3">If you are not interested, please proceed to the page rendering the required task data</p>
    <a href=@ViewBag.EmployeeInfoUrl class="btn btn-primary btn-lg mb-5">Visit the Employee Information Page</a>
</div>
